{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrder": [
    "^react$|^styled-components",
    "<THIRD_PARTY_MODULES>",
    "<THIRD_PARTY_TS_TYPES>",
    "<TS_TYPES>",
    "^@internal/(.*)$",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "^[.]/[-a-zA-Z0-9_]+[.](module)[.](css|scss|less)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
